<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SMSServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.jetsms.net/ws/soapsms.asmx" binding="basicHttpBinding"
                bindingConfiguration="SMSServiceSoap" contract="servis_sms.SMSServiceSoap"
                name="SMSServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>